.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Courier";
    -fx-base: #cfcfcf;
    -fx-background: #ffffff;
}

.label{
    -fx-font-size: 50pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ebdc54;
    -fx-alignment: center;
}

.button{
    -fx-border-color: #6e6e6e;
    -fx-text-fill:  #6e6e6e;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

.hyperlink{
    -fx-text-fill: #0f00de;
    -fx-border-color: transparent;
}