.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Courier";
    -fx-base: #4a4a4a;
    -fx-background: #3c3d40;
}

.label{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

#pause{
    -fx-font-size: 80pt;
    -fx-text-fill: #ffee00;
    -fx-alignment: center;
    -fx-text-alignment: center;
}